.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.hiUser {
    display: flex;
    align-items: center;
    gap: 1vw;
}