
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 6.2rem;
}

.hiUser {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.userAvatar {
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    height: 30rem;
}

.cell {
    position: relative;
    padding: 20px;
    margin-top: 1rem;
    grid-row: 1fr;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 30%;
    min-width: 250px;
    min-height: 160px;
}

.cellImg {
    position: relative;
    padding: 20px;
    margin-top: 1rem;
    grid-row: 1fr;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 30%;
    min-width: 250px
}

.cellImg img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.cell h6 {
    max-width: 50px;
    text-wrap: wrap;
}
.cellImg h6 {
    max-width: 50px;
    text-wrap: wrap;
}

.numberPlus {
    bottom: 9px;
    align-items: flex-end;
}

.numberPlusOne {
    margin-right:  7px ;
    color: #32CD32;
    font-family: 'Bitter';
    align-items: flex-end;
}

.large {
    grid-row: 2fr; 
    height: 80%;
}

.gradus {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    margin-top: -30px;
}

.weatherIcon {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
}

.temperature {
    font-size: 2rem;
}




.count {
    font-family: 'Bitter';
    font-size: 2.7em;
}


.table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Bitter';
}

.table td, .table th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Один столбец на мобильных устройствах */
    }

    .cell, .cellImg {
        min-width: auto; /* Адаптивная ширина ячеек */
    }

    .gradus {
        flex-direction: column; /* Расположение элементов в колонку */
        align-items: flex-end; /* Выравнивание элементов в конце */
        margin-top: 0; /* Сброс отступа */
    }

    .temperature {
        font-size: 1.5rem; /* Уменьшенный размер текста */
    }

    .table {
        margin-top: 10px; /* Отступ сверху для таблицы */
    }
}

@media (max-width: 968px) {
    .grid {
        grid-template-columns: 1fr; /* Один столбец на мобильных устройствах */
        gap: 1rem;
    }

    .cell, .cellImg {
        min-width: auto; /* Адаптивная ширина ячеек */
        padding: 10px; /* Уменьшить отступы для мобильных устройств */
    }

    .gradus {
        flex-direction: column; /* Расположение элементов в колонку */
        align-items: flex-end; /* Выравнивание элементов в конце */
        margin-top: 0; /* Сброс отступа */
    }

    .temperature {
        font-size: 1.5rem; /* Уменьшенный размер текста */
    }

    .table {
        margin-top: 10px; /* Отступ сверху для таблицы */
    }

    .header {
        flex-direction: column; /* Столбец на мобильных устройствах */
        align-items: center; /* Центрировать элементы */
        margin-top: 2rem; /* Уменьшить отступ сверху */
    }

    .hiUser {
        margin-top: 1rem; /* Добавить отступ сверху */
    }

    .large {
        height: auto; /* Адаптивная высота для больших ячеек */
    }

    .numberPlus, .numberPlusOne {
        font-size: 0.9rem; /* Уменьшить размер текста */
    }

    .count {
        font-size: 2rem; /* Уменьшить размер текста */
    }
}