.header {
    display: flex;
    justify-content: space-between;
    margin-top: 6.2rem;
}

.hiUser {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.userAvatar {
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
}

.cell {
    padding: 20px;
    margin-top: 1rem;
    grid-row: 1fr;
    border-radius: 12px;
    background-color: #F5F5F5;
}

.large {
    grid-row: 2fr; 
    height: 90%;
}