@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-width: 1512px;
  --border-radius: 12px;

  font-size: 18px;
  

  --foreground-rgb: 0, 22, 19;
  --background-start-rgb: 255, 253, 246;
  --background-end-rgb: 255, 253, 246;

  --background-second-rgb: 245, 245, 245;
  --accent-color-rgb: 240, 255, 61;
  --button-color-rgb: 52, 152, 219;
  

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  
  --text-rgb: 111, 75, 242;


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 234, 234, 234;
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 27, 27, 27;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 90vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    margin: 0 5vw;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4em;
  margin-top: 4rem;
  margin-bottom: 4rem;
  line-height: 120%;
  color: rgb(var(--foreground-rgb));
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
  line-height: 120%;
  color: rgb(var(--foreground-rgb));
}

h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
  line-height: 120%;
  color: rgb(var(--foreground-rgb));
}

h5 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  line-height: 90%;
  color: rgb(var(--foreground-rgb));
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 100%;
  color: rgb(var(--foreground-rgb));
}


/* UI Elements */
h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-height: 100%;
  color: rgb(var(--foreground-rgb));
}


/* Mobile Styles */
@media (max-width: 768px) {
  :root {
    font-size: 16px; 
  }

  h1 {
    font-size: 3rem; 
  }

  h2 {
    font-size: 2rem; 
  }

  h3 {
    font-size: 1.5rem; 
  }

  h5 {
    font-size: 3.5rem; 
  }

  p {
    font-size: 0.875rem; 
  }
}