.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  margin-bottom: 40px;
  width: 300px;
  height: 300px;
  position: relative;
  object-fit: contain;
}

.clothesImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  object-fit: contain;

}

.paramsContainer {
  width: 100%;
}

.paramItem {
  margin-bottom: 25px;
  position: relative;
}

.paramItem label {
  position: absolute;
  top: -12px;
  left: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 5px;
  color: #001613;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.saveButton {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #990000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:hover {
  background-color: #6f0707;
}

.saveButton:disabled {
  background-color: #dc2222;
  cursor: not-allowed;
}

.deleteButton {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #e4e4e4;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c8c8c8;
}

.deleteButton:disabled {
  background-color: #fcfcfc;
  cursor: not-allowed;
}
