.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 20vw;
    height: 20vw;
    background-color: #F5F5F5;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.imgWrapper {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0 auto;
}

.item h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-align: left;
    align-items: flex-start
}