.authLabel {
    display: block;
    position: relative;
    margin-bottom: 5px;
    width: fit-content;
}

.authInput {
    display: block;
    background-color: #FFF;
    border: 3px solid #D3D3D3;
    border-radius: 12px;
    width: 350px;
    height: 48px;
    margin-bottom: 20px;
    color: #000;
    font-size: 1rem;
    padding: 0 10px;
}

.authButton {
    background: #3498DB;
    border: none;
    width: 350px;
    height: 48px;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    line-height: 100%;
    color: #FFF;
    margin-bottom: 10px;
    cursor: pointer;
}

.authButtonDelete {
    border: none;
    width: 350px;
    height: 48px;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    line-height: 100%;
    color: #FFF;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    color: #FF6347;
    border: 3px solid #FF6347;
    background-color: #FFFFFFB2;
}