.mainBox {
    position: relative;
    margin-top: 5rem;
    padding-left: 12rem;
    padding-right: 18rem;
    padding-bottom: 4rem;
}

.mainBox p {
    margin-top: 1rem;
}

.mainBox h3 {
    margin-top: 3rem;
}

.mainBox b {
    font-weight: 400;
}

.meta i {
    opacity: 0;
    color: red;
}

.mainBox img {
    width: 100%;
    margin-top: 3rem;
}

.src {
    position: absolute;
    bottom: 0;
    left: 12rem;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.mainBox a {
    transition: all 0.7s ease;
}

.mainBox a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.mainBox blockquote {
    position: relative;
    font-style: italic;
    font-family: "Cormorant Garamond";
    font-size: 2.2vw;
    line-height: 1.6;
    padding: 5rem;
    color: #000000;
}

.box {
    width: 100%;
    /* border: 1px black solid; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card {
    position: relative;
    width: 98%;
    /* border: red 1px solid; */
    border-radius: 20px;
    height: 25rem;
    background-color: rgb(var(--background-second-rgb));
    transition: all 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}


.imageCard {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.cardText {
    padding: 0 5%;
    width: 100%;
    height: 11.3rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cardText h3 {
    margin-bottom: 1.4rem;
}


.meta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.meta img {
    margin-right: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.category {
    position: absolute;
    top: 9.5rem;
    left: 10px;
    width: 20%;
    min-width: 7rem;
    height: 10%;
    background-color: rgb(var(--accent-color-rgb));
    border-radius: 12px;
    padding: 1%;
    text-align: center;
}


.link {
    display: block;
    max-width: 45vw;
}


.categoryTitle {
    text-align: start;
}

.next {
    margin-top: 5rem;
    margin-bottom: 3rem;
}


.tgr {
    overflow: hidden;
    display: flex;
}

.tgr img {
    float: right;
    max-width: 20%;
    margin: 0 15px 15px 0;
    mix-blend-mode: multiply;
}

@media (max-width: 1000px) {
    .mainBox {
        margin-top: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 3rem;
    }

    .mainBox p {
        margin-top: 0.75rem;
    }

    .mainBox h3 {
        margin-top: 2rem;
    }

    .mainBox b {
        font-weight: 400;
    }

    .mainBox img {
        width: 100%;
        margin-top: 2.5rem;
    }

    .src {
        position: static;
        left: 0;
        opacity: 0.7;
        margin-top: 1rem;
    }

    .mainBox a {
        transition: all 0.7s ease;
    }

    .mainBox a:hover {
        opacity: 0.8;
        text-decoration: underline;
    }

    .mainBox blockquote {
        font-size: 3vw; /* Регулируем размер шрифта для планшетов */
        padding: 3rem; /* Уменьшаем отступы */
    }
}


@media (max-width: 768px) {
    .mainBox {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .mainBox p {
        margin-top: 0.5rem;
    }

    .mainBox h3 {
        margin-top: 1.5rem;
    }

    .mainBox b {
        font-weight: 400;
    }


    .mainBox img {
        width: 100%;
        margin-top: 2rem;
    }

    .src {
        position: static;
        left: 0;
        opacity: 0.8;
        margin-top: 1rem;
    }

    .mainBox a {
        transition: all 0.7s ease;
    }

    .mainBox a:hover {
        opacity: 0.8;
        text-decoration: underline;
    }

    .mainBox blockquote {
        font-size: 4.5vw; /* Увеличиваем размер шрифта для мобильных */
        padding: 2rem; /* Уменьшаем отступы */
    }
}