.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 7.3rem;
}

.hiUser {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchInput {
  padding: 10px;
  width: 100%;
  /* max-width: 400px; */
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}


/* HTML: <div class="loader"></div> */
.loader {
    margin-bottom: 10px;
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: l5 1s infinite linear;
}

@keyframes l5 {
    20% {
        background-position: 0% 50%, 50% 100%, 100% 100%
    }

    40% {
        background-position: 0% 0%, 50% 50%, 100% 100%
    }

    60% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    80% {
        background-position: 0% 100%, 50% 100%, 100% 0%
    }
}


.addButton {
    padding: 10px 15px;
    background-color: #990000;
    opacity: 0.86;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
}

.modalContent h2 {
    margin: 0;
    margin-bottom: 20px;
}

.modalContent form {
    display: flex;
    flex-direction: column;
}

.modalContent input {
    margin-top: 4px;
    margin-bottom: 10px;
}

.modalContent input[type="text"],
.modalContent input[type="file"] {
    display: block;
    background-color: #FFF;
    border: 3px solid #D3D3D3;
    border-radius: 12px;
    /* width: 350px; */
    /* height: 48px; */
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.modalContent label {
    display: block;
    position: relative;
    margin-bottom: 5px;
    width: fit-content;
}

.modalContent button {
    padding: 10px 15px;
    background-color: #F0FF3D;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.modalContent button[type="button"] {
    background-color: #ccc;
}

.dropZone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.dropZone.active {
    border-color: #F0FF3D;
    background-color: rgba(240, 255, 61, 0.1);
}

.dropZone p {
    margin: 5px 0;
    color: #777;
}

.dropZoneTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.fileFormats {
    color: #999;
    font-size: 0.8rem;
}

