.registrationBody {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/reg-web.jpg");
    background-position: center;
}

.main {
    margin-left: 4vw;
}


.authLabel {
    display: block;
    position: relative;
    margin-bottom: 5px;
    width: fit-content;
}

.authInput {
    display: block;
    background-color: #FFF;
    border: 3px solid #D3D3D3;
    border-radius: 12px;
    width: 350px;
    height: 48px;
    margin-bottom: 20px;
}

.forgotPassword {
    position: absolute;
    top: 4px;
    right: -258px;
}

.authButton {
    background: #3498DB;
    border: none;
    width: 350px;
    height: 48px;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    line-height: 100%;
    color: #FFF;
    margin-bottom: 10px;
    cursor: pointer;
}